<mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div fxLayout="row">
            <button mat-button>
                <mat-icon>share icon</mat-icon>
                <span class="logo">Finder</span>
            </button>
            <div *ngIf="!deviceXs">
                <button mat-button routerLink="/articles" routerLinkActive="active">Articles </button>
                <button mat-button routerLink="/article-form" routerLinkActive="active" *ngIf="logged">Share
                    article</button>
                <button mat-button routerLink="/registration" routerLinkActive="active"
                    *ngIf="!logged">Registration</button>
                <button mat-button>About us</button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <app-notification *ngIf="logged"></app-notification>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="!logged" routerLink="/login" routerLinkActive="active">
                    <mat-icon>login</mat-icon>
                    <span>Login</span>
                </button>
                <button mat-menu-item *ngIf="logged">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
                <button mat-menu-item disabled *ngIf="logged">
                    <mat-icon>voicemail</mat-icon>
                    <span>Account</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayoutAlign="space-between end" *ngIf="deviceXs">
        <button mat-button>Home</button>
        <button mat-button>Contact us</button>
        <button mat-button>About us</button>
    </mat-toolbar-row>
</mat-toolbar>