<form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title"
                    [errorStateMatcher]="errorHelper.getMatcher('title')">
                <mat-error *ngIf="errorHelper?.getMatcher('title')?.hasError">
                    {{errorHelper?.getMatcher('title')?.message}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Article url</mat-label>
                <input matInput placeholder="Article" formControlName="url"
                    [errorStateMatcher]="errorHelper.getMatcher('url')">
                <mat-error *ngIf="errorHelper?.getMatcher('url')?.hasError">
                    {{errorHelper?.getMatcher('url')?.message}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Picture url</mat-label>
                <input matInput placeholder="Pictuure url" formControlName="pictureUrl"
                    [errorStateMatcher]="errorHelper.getMatcher('pictureUrl')">
                <mat-error *ngIf="errorHelper?.getMatcher('pictureUrl')?.hasError">
                    {{errorHelper?.getMatcher('pictureUrl')?.message}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="description"
                    placeholder="Description" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                    [errorStateMatcher]="errorHelper.getMatcher('description')"></textarea>
                <mat-error *ngIf="errorHelper?.getMatcher('description')?.hasError">
                    {{errorHelper?.getMatcher('description')?.message}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class=form-group>
            <app-tag-chips [form]="articleForm"></app-tag-chips>
        </div>
    </div>
    <div>
        <button mat-raised-button type="submit" color="primary">Save</button>
    </div>
</form>