.article-card {
    max-width: 600px;
  }
  
  .header-image {
    background-image: url('https://www.lboro.ac.uk/media/wwwlboroacuk/external/content/services/itservices/ittoolkit/72287%20IT%20Services%20Website%20Icons%20AW-2.png');
    background-size: cover;
  }
  